@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-image: url(./images/complaint.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
}

.mno,
.input_field {
  padding: 10px;
}

textarea {
  color: white;
  height: 8vmax;
  width: 22vmax;
  border: none;
  outline: none;
  background: none;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vmax;
}
form {
  width: 410px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 2rem;
  background: black;
  opacity: 0.9;
  border-radius: 15px;
}

form h1 {
  font-weight: 300;
  color: white;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: white;
}
textarea label {
  color: white;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 2px solid;
  background: transparent;
  border-radius: 15px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover {
  background: white;
  color:black;
  transition: 0.5s;
}

#preloader {
  background: #000 url(images/preloader.gif) no-repeat center center;
  background-size: 3%;
  opacity: 0.7;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
